@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<section class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</section>

<section>
    <form id="delete-user" method="post" class="form-group">
        <section asp-validation-summary="All" class="text-danger"></section>
        @if (Model.RequirePassword)
        {
            <section class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </section>
        }
        <button class="btn btn-danger" type="submit">Delete data and close my account</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}