@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Set your password</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<section class="row">
    <section class="col-md-6">
        <form id="set-password-form" method="post">
            <section asp-validation-summary="All" class="text-danger"></section>
            <section class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </section>
            <button type="submit" class="btn btn-primary">Set password</button>
        </form>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}