@using Data.Enums
@model EventHub.Models.InputModels.EventInputModel;
@{
    ViewData["Title"] = "Create Event";
}

<section class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <form asp-area="EventOrganizer" asp-controller="Events" asp-action="Create" method="post" novalidate>
        <section class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </section>

        <section class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </section>

        <section class="mb-3">
            <label asp-for="StartTime" class="form-label"></label>
            <input asp-for="StartTime" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </section>

        <section class="mb-3">
            <label asp-for="Location" class="form-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </section>

        <section class="mb-3">
            <label asp-for="TargetAudience" class="form-label"></label>
            <select asp-for="TargetAudience" class="form-select"
                    asp-items="Html.GetEnumSelectList<TargetAudience>()"></select>
            <span asp-validation-for="TargetAudience" class="text-danger"></span>
        </section>

        <section class="mb-3">
            <label asp-for="EventType" class="form-label"></label>
            <select asp-for="EventType" class="form-select"
                    asp-items="Html.GetEnumSelectList<EventType>()"></select>
            <span asp-validation-for="EventType" class="text-danger"></span>
        </section>

        <button type="submit" class="btn btn-primary">Create Event</button>
    </form>
</section>
