@using EventHub.Models.ViewModels
@model ICollection<EventIndexViewModel>

@{
    ViewData["Title"] = "Your Events";
}

<section class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    @if (!Model.Any())
    {
        <div class="alert alert-info">You have no events created yet.</div>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.Title</td>
                        <td>@e.EventType</td>
                        <td>
                            <a class="btn btn-sm btn-primary"
                               asp-area="EventOrganizer"
                               asp-controller="Events"
                               asp-action="Details"
                               asp-route-eventId="@e.Id">More</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>
