@using EventHub.Models.ViewModels;
@model ICollection<EventIndexViewModel>;

<section>
    <h1>Your events</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
        @{
            foreach (var e in @Model) 
            {
                <tr>
                    <td>@e.Title</td>
                    <td>@e.EventType</td>
                    <td>
                        <a asp-area="EventOrganizer" asp-controller="Events" asp-action="Details" asp-route-eventId="@e.Id">more</a>
                    </td>
                </tr>
            }
        }
    </table>
</section>