@using EventHub.Models.ViewModels
@model ICollection<RequestIndexViewModel>

<section class="container mt-4">
    <h1 class="mb-4">Users' Requests</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Request By User</th>
                <th>More Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var req in Model)
            {
                <tr>
                    <td>@($"{req.UserFirstName} {req.UserLastName}")</td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Requests"
                           asp-action="Details"
                           asp-route-userId="@req.UserId"
                           class="btn btn-sm btn-primary">
                            More
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
